mat-toolbar
{
    background-color: rgb(71, 71, 107);
}
.mainheading a
{
    color: white;
    text-decoration: none;
}


.db
{
    color: white;
}

.navigationlinks a
{
    color: white;
    text-decoration: none;
    /* font-family: 'Raleway'; */
    font-size: 19px;
    
}

.navigationlinks a:hover
{
    color:lightgray;
}

.navigationlinks ul
{
    list-style-type: none;
    
}

.navigationlinks li
{
    display: inline-block;
    padding: 10px;
} 